<!--<div>-->
<!--    <h2 id="page-heading">-->
<!--        <span>Notificaciones</span>-->
<!--    </h2>-->
<!--    <jhi-alert></jhi-alert>-->
<!--    <br/>-->
<!--    <div class="table-responsive" *ngIf="notificacions">-->
<!--        <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th><span>ID</span></th>-->
<!--                <th><span>Contenido</span></th>-->
<!--                <th><span>Leida</span></th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let notificacion of notificacions ;trackBy: trackId">-->
<!--                <td><a [routerLink]="['/notificacion', notificacion.id, 'view' ]">{{notificacion.id}}</a></td>-->
<!--                <td>{{notificacion.contenido}}</td>-->

<!--                <td>{{ notificacion.status ? 'SI'  : 'NO'}}</td>-->

<!--                <td class="text-right">-->
<!--                    <div class="btn-group flex-btn-group-container">-->
<!--                     -->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
