<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 *ngIf="!user.id" id="myCreateUserLabel" jhiTranslate="userManagement.home.createLabel">
            </h2>
            <h2 *ngIf="user.id" id="myEditUserLabel" jhiTranslate="userManagement.home.editLabel">
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>
                <div class="form-group" [hidden]="!user.id">
                    <label jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" name="id"
                        [(ngModel)]="user.id" readonly>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                    <input type="text" class="form-control" name="login" #loginInput="ngModel" [(ngModel)]="user.login" minlength="1" maxlength="50" disabled>

                    <div *ngIf="loginInput.dirty && loginInput.invalid">
                        <small class="form-text text-danger" *ngIf="loginInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="loginInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{max: 50}">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="loginInput.errors.pattern" jhiTranslate="entity.validation.patternLogin">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel" [(ngModel)]="user.firstName" maxlength="50">

                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{max: 50}">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label jhiTranslate="userManagement.lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel" [(ngModel)]="user.lastName" maxlength="50">

                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{max: 50}">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                    <input type="email" class="form-control" name="email" #emailInput="ngModel" [(ngModel)]="user.email" minlength="5" required maxlength="254" email (blur)="setLogin()">

                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger" *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{max: 100}">
                            This field cannot be longer than 100 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="emailInput.errors.minlength" jhiTranslate="entity.validation.minlength" translateValues="{min: 5}">
                            This field is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="activated">
                        <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
                        <span jhiTranslate="userManagement.activated">Activated</span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Asignar perfil</label>
                    <select class="form-control" id="perfil" name="perfil" [(ngModel)]="idPerfil" required>
                        <option *ngFor="let perfil of perfiles" [value]="perfil.id">{{perfil.nombre}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Asignar Grupo</label>
                    <select class="form-control" id="grupo" name="grupo" [(ngModel)]="idGrupo" required>
                        <option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.nombre}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}" [(ngModel)]="newPassword" minlength=8 maxlength=50 required>

                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="newPasswordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="newPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="newPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" (blur)="confirmMatch()"
                           [(ngModel)]="confirmPassword" minlength=8 maxlength=50 required>

                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">

                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 8 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
