<form name="deleteForm" (ngSubmit)="enviarInforme(providencia.id)">
    <div class="modal-header">
<!--        <h4 class="modal-title" >Inculpado Envia Memo</h4>-->
        <h4 class="modal-title" >Realizó Descargo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-responder-providencia-heading1">
            Seguro que desea notificar que inculpado envia memo a la providencia # {{providencia.id}}?

        <form>
            <div class="form-group">
                <label class="form-control-label" for="field_comentario">
                    Cual Es El Motivo De La Notificacion ??
                </label>
                <textarea type="text" class="form-control" name="comentario" id="field_comentario"
                          [(ngModel)]="observacionDerivacion">
                    </textarea>
            </div>
            <div class="form-group" style="height: auto">
                <label class="form-control-label">Adjuntar Archivos</label>
                <jhi-file-upload-component (fileResponse)="getUploadedAdjuntos($event)"></jhi-file-upload-component>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>
        <button id="jhi-confirm-delete-providencia" type="submit" class="btn btn-outline-success">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;
            <span>Notificar Envio</span>
        </button>
    </div>
</form>
