<script src="providencia-asignar-numero-referencia.component.ts"></script>
<form name="deleteForm" (ngSubmit)="asignarNumeroIngreso()">
    <div class="modal-header">
        <h4 class="modal-title" >Asignar Número de la Providencia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <p id="jhi-responder-providencia-heading">
            Asignar número a la providencia # {{providencia.id}}?
        </p>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Número de la Providencia</label>
                    <input
                        type="number"
                        class="form-control"
                        min="0"
                        [(ngModel)]="providenciaUpdateNroReferencia.numeroReferencia"
                        name="numeroReferencia"
                        required>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>
        <button
            id="jhi-confirm-delete-providencia"
            type="submit"
            class="btn btn-outline-success"
            [routerLink]="['/providencia', providencia.id, 'view' ]"
            [disabled]="providenciaUpdateNroReferencia.numeroReferencia == null || providenciaUpdateNroReferencia.numeroReferencia <= 0">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
    </div>
</form>
