<div class="row justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="jhi-movimientoSumarioAdministrativo-heading-editar" *ngIf="movimientoSumarioAdministrativo.id">
                                Editar Movimiento Sumario Administrativo
                            </h2>
                            <h2 id="jhi-movimientoSumarioAdministrativo-heading-crear" *ngIf="!movimientoSumarioAdministrativo.id">
                                Creear Movimiento Sumario Administrativo
                            </h2>
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group" [hidden]="!movimientoSumarioAdministrativo.id">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id"
                                           [(ngModel)]="movimientoSumarioAdministrativo.id" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoSumarioAdministrativo.estadoAnterior" for="field_estadoAnterior">Estado Anterior</label>
                                    <select class="form-control" name="estadoAnterior" [(ngModel)]="movimientoSumarioAdministrativo.estadoAnterior" id="field_estadoAnterior" >
                                        <option value="ESTADO_UNO">{{'pdisciplinarioApp.EstadoSumarioAdministrativo.ESTADO_UNO' | translate}}</option>
                                        <option value="ESTADO_DOS">{{'pdisciplinarioApp.EstadoSumarioAdministrativo.ESTADO_DOS' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoSumarioAdministrativo.estadoNuevo" for="field_estadoNuevo">Estado Nuevo</label>
                                    <select class="form-control" name="estadoNuevo" [(ngModel)]="movimientoSumarioAdministrativo.estadoNuevo" id="field_estadoNuevo" >
                                        <option value="ESTADO_UNO">{{'pdisciplinarioApp.EstadoSumarioAdministrativo.ESTADO_UNO' | translate}}</option>
                                        <option value="ESTADO_DOS">{{'pdisciplinarioApp.EstadoSumarioAdministrativo.ESTADO_DOS' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoSumarioAdministrativo.fecha" for="field_fecha">Fecha</label>
                                    <div class="d-flex">
                                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" [(ngModel)]="fecha"
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoSumarioAdministrativo.sumarioAdministrativo" for="field_sumarioAdministrativo">Sumario Administrativo</label>
                                    <select class="form-control" id="field_sumarioAdministrativo" name="sumarioAdministrativo" [(ngModel)]="movimientoSumarioAdministrativo.sumarioAdministrativoId" >
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="sumarioAdministrativoOption.id" *ngFor="let sumarioAdministrativoOption of sumarioadministrativos; trackBy: trackSumarioAdministrativoById">{{sumarioAdministrativoOption.id}}</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
