<div>
    <h2 id="page-heading">
        <span jhiTranslate="pdisciplinarioApp.adjunto.home.title">Adjuntos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adjunto"
                [routerLink]="['/adjunto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="pdisciplinarioApp.adjunto.home.createLabel">
            Create new Adjunto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="adjuntos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="tipoAdjunto"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.tipoAdjunto">Tipo Adjunto</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="nombre"><span jhiTranslate="pdisciplinarioApp.adjunto.nombre">Nombre</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="descripcion"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.descripcion">Descripcion</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fechaCreado"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.fechaCreado">Fecha Creado</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fechaSubido"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.fechaSubido">Fecha Subido</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="archivoNombre"><span jhiTranslate="pdisciplinarioApp.adjunto.archivoNombre">Archivo Nombre</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="archivoMimeType"><span jhiTranslate="pdisciplinarioApp.adjunto.archivoMimeType">Archivo Mime Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="archivoSize"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.archivoSize">Archivo Size</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="estado"><span jhiTranslate="pdisciplinarioApp.adjunto.estado">Estado</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="archivo"><span jhiTranslate="pdisciplinarioApp.adjunto.archivo">Archivo</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="archivoContentType"><span jhiTranslate="pdisciplinarioApp.adjunto.archivoContentType">Archivo Content Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="alfrescoNodeId"><span jhiTranslate="pdisciplinarioApp.adjunto.alfrescoNodeId">Alfresco Node Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="alfrescoNodePath"><span jhiTranslate="pdisciplinarioApp.adjunto.alfrescoNodePath">Alfresco Node Path</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="localPath"><span jhiTranslate="pdisciplinarioApp.adjunto.localPath">Local Path</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="hash"><span jhiTranslate="pdisciplinarioApp.adjunto.hash">Hash</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="providenciaId"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.providencia">Providencia</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="movimientoProvidenciaId"><span
                    jhiTranslate="pdisciplinarioApp.adjunto.movimientoProvidencia">Movimiento Providencia</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adjunto of adjuntos ;trackBy: trackId">
                <td><a [routerLink]="['/adjunto', adjunto.id, 'view' ]">{{adjunto.id}}</a></td>
                <td jhiTranslate="{{'pdisciplinarioApp.TipoAdjunto.' + adjunto.tipoAdjunto}}">{{adjunto.tipoAdjunto}}</td>
                <td>{{adjunto.nombre}}</td>
                <td>{{adjunto.descripcion}}</td>
                <td>{{adjunto.fechaCreado | date:'mediumDate'}}</td>
                <td>{{adjunto.fechaSubido | date:'medium'}}</td>
                <td>{{adjunto.archivoNombre}}</td>
                <td>{{adjunto.archivoMimeType}}</td>
                <td>{{adjunto.archivoSize}}</td>
                <td jhiTranslate="{{'pdisciplinarioApp.FileUploadStatus.' + adjunto.estado}}">{{adjunto.estado}}</td>
                <td>
                    <a *ngIf="adjunto.archivo" (click)="openFile(adjunto.archivoContentType, adjunto.archivo)"
                       jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="adjunto.archivo">{{adjunto.archivoContentType}}, {{byteSize(adjunto.archivo)}}</span>
                </td>
                <td>{{adjunto.archivoContentType}}</td>
                <td>{{adjunto.alfrescoNodeId}}</td>
                <td>{{adjunto.alfrescoNodePath}}</td>
                <td>{{adjunto.localPath}}</td>
                <td>{{adjunto.hash}}</td>
                <td>
                    <div *ngIf="adjunto.providenciaId">
                        <a [routerLink]="['../providencia', adjunto.providenciaId , 'view' ]">{{adjunto.providenciaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="adjunto.movimientoProvidenciaId">
                        <a [routerLink]="['../movimiento-providencia', adjunto.movimientoProvidenciaId , 'view' ]">{{adjunto.movimientoProvidenciaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/adjunto', adjunto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/adjunto', adjunto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adjunto/'+ adjunto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="adjuntos && adjuntos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
