<div class="row justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="jhi-movimientoInvestigacionSumaria-heading-editar" *ngIf="movimientoInvestigacionSumaria.id">
                                Editar Movimiento Investigacion Sumaria
                            </h2>
                            <h2 id="jhi-movimientoInvestigacionSumaria-heading-crear" *ngIf="!movimientoInvestigacionSumaria.id">
                                Crear Movimiento Investigacion Sumaria
                            </h2>
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group" [hidden]="!movimientoInvestigacionSumaria.id">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id"
                                           [(ngModel)]="movimientoInvestigacionSumaria.id" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoInvestigacionSumaria.estadoAnterior" for="field_estadoAnterior">Estado Anterior</label>
                                    <select class="form-control" name="estadoAnterior" [(ngModel)]="movimientoInvestigacionSumaria.estadoAnterior" id="field_estadoAnterior" >
                                        <option value="ESTADO_UNO">{{'pdisciplinarioApp.EstadoInvestigacionSumaria.ESTADO_UNO' | translate}}</option>
                                        <option value="ESTADO_DOS">{{'pdisciplinarioApp.EstadoInvestigacionSumaria.ESTADO_DOS' | translate}}</option>
                                        <option value="ELEVADO_A_SUMARIO">{{'pdisciplinarioApp.EstadoInvestigacionSumaria.ELEVADO_A_SUMARIO' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoInvestigacionSumaria.estadoNuevo" for="field_estadoNuevo">Estado Nuevo</label>
                                    <select class="form-control" name="estadoNuevo" [(ngModel)]="movimientoInvestigacionSumaria.estadoNuevo" id="field_estadoNuevo" >
                                        <option value="ESTADO_UNO">{{'pdisciplinarioApp.EstadoInvestigacionSumaria.ESTADO_UNO' | translate}}</option>
                                        <option value="ESTADO_DOS">{{'pdisciplinarioApp.EstadoInvestigacionSumaria.ESTADO_DOS' | translate}}</option>
                                        <option value="ELEVADO_A_SUMARIO">{{'pdisciplinarioApp.EstadoInvestigacionSumaria.ELEVADO_A_SUMARIO' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoInvestigacionSumaria.fecha" for="field_fecha">Fecha</label>
                                    <div class="d-flex">
                                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" [(ngModel)]="fecha"
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.movimientoInvestigacionSumaria.investigacionSumaria" for="field_investigacionSumaria">Investigacion Sumaria</label>
                                    <select class="form-control" id="field_investigacionSumaria" name="investigacionSumaria" [(ngModel)]="movimientoInvestigacionSumaria.investigacionSumariaId" >
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="investigacionSumariaOption.id" *ngFor="let investigacionSumariaOption of investigacionsumarias; trackBy: trackInvestigacionSumariaById">{{investigacionSumariaOption.id}}</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
