<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movimientoProvidencia">
            <h2><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.detail.title">Movimiento Providencias</span> {{movimientoProvidencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.estadoAnterior">Estado Anterior</span></dt>
                <dd>
                    <span jhiTranslate="{{'pdisciplinarioApp.EstadoProvidencia.' + movimientoProvidencia.estadoAnterior}}">{{movimientoProvidencia.estadoAnterior}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.estadoNuevo">Estado Nuevo</span></dt>
                <dd>
                    <span jhiTranslate="{{'pdisciplinarioApp.EstadoProvidencia.' + movimientoProvidencia.estadoNuevo}}">{{movimientoProvidencia.estadoNuevo}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.fecha">Fecha</span></dt>
                <dd>
                    <span>{{movimientoProvidencia.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.accion">Accion</span></dt>
                <dd>
                    <span jhiTranslate="{{'pdisciplinarioApp.Accion.' + movimientoProvidencia.accion}}">{{movimientoProvidencia.accion}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.providencia">Providencia</span></dt>
                <dd>
                    <div *ngIf="movimientoProvidencia.providenciaId">
                        <a [routerLink]="['/providencia', movimientoProvidencia.providenciaId, 'view']">{{movimientoProvidencia.providenciaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.plazo">Plazo</span></dt>
                <dd>
                    <div *ngIf="movimientoProvidencia.plazoId">
                        <a [routerLink]="['/plazo', movimientoProvidencia.plazoId, 'view']">{{movimientoProvidencia.plazoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movimiento-providencia', movimientoProvidencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
