<div class="container justify-content-center">
    <div class="d-flex justify-content-center">
        <h2 id="page-heading">
            <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.home.title"></span>
        </h2>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="movimientosProvidencia">
        <!-- aqui el filtro-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <div class="form-group col">
                        <label>Estado</label>
                        <select class="form-control">
                            <option selected>estado...</option>
                            <option value="ESTADO_1">ESTADO 1</option>
                            <option value="ESTADO_2">ESTADO 2</option>
                            <option value="ESTADO_3">ESTADO 3</option>
                            <option value="ESTADO_4">ESTADO 4</option>
                            <option value="ESTADO_5">ESTADO 5</option>
                            <option value="ESTADO_6">ESTADO 6</option>
                            <option value="ESTADO_7">ESTADO 7</option>
                            <option value="ESTADO_8">ESTADO 8</option>
                            <option value="ESTADO_9">ESTADO 9</option>
                            <option value="ESTADO_10">ESTADO 10</option>
                            <option value="ESTADO_11">ESTADO 11</option>
                            <option value="ESTADO_12">ESTADO 12</option>
                            <option value="ESTADO_13">ESTADO 13</option>
                            <option value="ESTADO_14">ESTADO 14</option>
                            <option value="ESTADO_15">ESTADO 15</option>
                            <option value="ESTADO_16">ESTADO 16</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div class="form-group col">
                        <label>Accion</label>
                        <select class="form-control">
                            <option selected>accion...</option>
                            <option value="DERIVADA">DERIVADA</option>
                            <option value="ENVIADA">ENVIADA</option>
                            <option value="DEVUELTA">DEVUELTA</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div class="form-group col">
                        <label>Tipo De Documento</label>
                        <select class="form-control">
                            <option selected>tipo...</option>
                            <option value="MEMO">MEMO</option>
                            <option value="RESOLUCION">RESOLUCION</option>
                            <option value="CERTIFICADO">CERTIFICADO</option>
                        </select>
                    </div>
                </th>
                <div class="col">
                    <input type="submit" class="btn btn-sm btn-primary" value="Buscar" ng-click="vm.filtrar()">
                    <input type="reset" class="btn btn-sm btn-danger" value="Limpiar" name="reset"
                           ng-click="vm.limpiar()">
                </div>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <!-- aqui la informacion -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <span jhiTranslate="global.field.id">ID</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.providencia">Providencia</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.usuarioAsignado">Usuario Asignado</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.estado">Estado</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.accion">Accion</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.plazo">Plazo</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.respuesta">Respuesta</span>
                </th>
                <th>
                    <span jhiTranslate="pdisciplinarioApp.movimientoProvidencia.comentarios">Comentarios</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimientoProvidencia of movimientosProvidencia ;trackBy: trackId">
                <td><a
                    [routerLink]="['/movimiento-providencia', movimientoProvidencia.id, 'view' ]">{{movimientoProvidencia.id}}</a>
                </td>
                <td>
                    <div *ngIf="movimientoProvidencia.providenciaId">
                        <a [routerLink]="['../providencia', movimientoProvidencia.providenciaId , 'view' ]">{{movimientoProvidencia.providenciaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientoProvidencia.userId">
                        <span> {{movimientoProvidencia.userFirstName}} {{movimientoProvidencia.userLastName}} </span>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientoProvidencia.estadoAnterior">
                        <span> {{movimientoProvidencia.estadoAnterior}} </span>
                    </div>
                    <div *ngIf="!movimientoProvidencia.estadoAnterior">
                        <span> SIN ESTADO </span>
                    </div>
                </td>
                <td>{{movimientoProvidencia.accion}}</td>
                <td>
                    <div *ngIf="movimientoProvidencia.plazoDias">
                        <span> {{movimientoProvidencia.plazoDias}} días</span>
                    </div>
                </td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <jhi-respuesta-bitacora-modal-popup
                            [movimientoProvidenciaId]="movimientoProvidencia.id"></jhi-respuesta-bitacora-modal-popup>
                    </div>
                </td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <jhi-comentario-bitacora-modal-popup
                            [movimientoProvidencia]="movimientoProvidencia"></jhi-comentario-bitacora-modal-popup>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
