<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fichaIngresoSdj">
            <h2><span
                jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.detail.title">Ficha Ingreso Sdj</span> {{fichaIngresoSdj.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt *ngIf="fichaIngresoSdj.numeroReferencia"><span
                    jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.numeroReferencia"></span></dt>
                <dd *ngIf="fichaIngresoSdj.numeroReferencia">
                    <span>{{fichaIngresoSdj.numeroReferencia}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaInicio">Fecha Inicio</span></dt>
                <dd>
                    <span>{{fichaIngresoSdj.fechaInicio}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.observacion">Observacion</span></dt>
                <dd>
                    <span>{{fichaIngresoSdj.observacion}}</span>
                </dd>
                <dt *ngIf="fichaIngresoSdj.plazo"><span
                    jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.plazo">Plazo</span></dt>
                <dd *ngIf="fichaIngresoSdj.plazo">
                    <span>{{fichaIngresoSdj.plazo}}</span>
                </dd>
                <dt *ngIf="fichaIngresoSdj.acciones !== null && fichaIngresoSdj.acciones.length > 0">
                    <span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.acciones"></span>
                </dt>
                <dd *ngFor="let accion of fichaIngresoSdj.acciones">
                    {{accion.split('_').join(' ')}}
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaHasta">Fecha Hasta</span></dt>
                <dd>
                    <span>{{fichaIngresoSdj.fechaHasta}}</span>
                </dd>
                <dt *ngIf="fichaIngresoSdj.atentamente"><span
                    jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaHasta">Fecha Hasta</span></dt>
                <dd *ngIf="fichaIngresoSdj.atentamente">
                    <span>{{fichaIngresoSdj.atentamente}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ficha-ingreso-sdj', fichaIngresoSdj.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
