<div class="row justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="jhi-fichaIngresoSdj-heading-editar" *ngIf="fichaIngresoSdj.id">
                                Editar Ficha Ingreso Sdj
                            </h2>
                            <h2 id="jhi-fichaIngresoSdj-heading-crear" *ngIf="!fichaIngresoSdj.id">
                                Crear Ficha Ingreso Sdj
                            </h2>
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group" [hidden]="!fichaIngresoSdj.id">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id"
                                           [(ngModel)]="fichaIngresoSdj.id" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.numeroReferencia"
                                           for="field_numero_referencia">
                                        Número Referencia
                                    </label>
                                    <div class="d-flex">
                                        <input id="field_numero_referencia" type="number" class="form-control"
                                               name="numeroReferencia" [(ngModel)]="numeroReferencia"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaInicio"
                                           for="field_fechaInicio">Fecha Inicio</label>
                                    <div class="d-flex">
                                        <input id="field_fechaInicio" type="datetime-local" class="form-control"
                                               name="fechaInicio" [(ngModel)]="fechaInicio"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.observacion"
                                           for="field_observacion">Observacion</label>
                                    <textarea type="text" class="form-control" name="observacion" id="field_observacion"
                                              [(ngModel)]="fichaIngresoSdj.observacion">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.plazo" for="field_plazo">Plazo</label>
                                    <input type="number" class="form-control" name="plazo" id="field_plazo"
                                           [(ngModel)]="fichaIngresoSdj.plazo"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaHasta"
                                           for="field_fechaHasta">Fecha Hasta</label>
                                    <div class="d-flex">
                                        <input id="field_fechaHasta" type="datetime-local" class="form-control"
                                               name="fechaHasta" [(ngModel)]="fechaHasta"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.acciones"></label>
                                    <angular2-multiselect name="selectedAcciones"
                                                          [data]="dropdownListAcciones"
                                                          [(ngModel)]="selectedAcciones"
                                                          [settings]="dropdownSettingsAcciones"
                                                          (onSelect)="onItemSelect($event)"
                                                          (onDeSelect)="OnItemDeSelect($event)"
                                                          (onSelectAll)="onSelectAll($event)"
                                                          (onDeSelectAll)="onDeSelectAll($event)">

                                    </angular2-multiselect>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                           jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.atentamente"
                                           for="field_atentamente"></label>
                                    <div class="d-flex">
                                        <input id="field_atentamente" type="text" class="form-control"
                                               name="atentamente"
                                               [(ngModel)]="atentamente"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"
                                        (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                                        class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
