<div>
    <h2 id="page-heading">
        <span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.home.title">Ficha Ingreso Sdjs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ficha-ingreso-sdj" [routerLink]="['/ficha-ingreso-sdj/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.home.createLabel">
            Create new Ficha Ingreso Sdj
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fichaIngresoSdjs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaInicio"><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaInicio">Fecha Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observacion"><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.observacion">Observacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="plazo"><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.plazo">Plazo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaHasta"><span jhiTranslate="pdisciplinarioApp.fichaIngresoSdj.fechaHasta">Fecha Hasta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fichaIngresoSdj of fichaIngresoSdjs ;trackBy: trackId">
                <td><a [routerLink]="['/ficha-ingreso-sdj', fichaIngresoSdj.id, 'view' ]">{{fichaIngresoSdj.id}}</a></td>
                <td>{{fichaIngresoSdj.fechaInicio | date:'medium'}}</td>
                <td>{{fichaIngresoSdj.observacion}}</td>
                <td>{{fichaIngresoSdj.plazo}}</td>
                <td>{{fichaIngresoSdj.fechaHasta | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ficha-ingreso-sdj', fichaIngresoSdj.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ficha-ingreso-sdj', fichaIngresoSdj.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ficha-ingreso-sdj/'+ fichaIngresoSdj.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="fichaIngresoSdjs && fichaIngresoSdjs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
