<div class="upload-box-content">
    <div class="file-upload-wrapper" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
         [uploadInput]="uploadInput">
        <label class="btn-bs-file btn btn-info buttonSelection">
            <span class="glyphicon glyphicon-file"></span>&nbsp;Seleccione archivo..
            <input class="file-upload" type="file" ngFileSelect [options]="options"
                   (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
                   multiple/>
        </label>
        &nbsp;&nbsp; ó arraste y suelte un archivo en esta zona
    </div>
    <br>
    <div>LISTA DE ARCHIVOS</div>
    <div *ngFor="let listaArchivos of listFiles">
        <div class="nameFile">
            <label>Nombre</label>
            <br>
            <a data-toggle="tooltip" title="Descargar">{{listaArchivos.archivoNombre}}</a>
        </div>
        <div class="fileGroup">
            <div class="sizeFile">
                <label>Tamaño</label>
                <br>
                <span>{{listaArchivos.archivoSize  | filesize}}</span>
            </div>
            <div class="stateFile">
                <label>Estado</label>
                <br>
                <span>
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(listaArchivos.id)">
                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                </button>
            </div>
        </div>
    </div>
    <!-- Document list. -->
    <div *ngFor="let listaArchivos of documentos">
        <div class="nameFile">
            <label>Nombre</label>
            <br>
            <a data-toggle="tooltip" title="Descargar">{{listaArchivos.archivoNombre}}</a>
        </div>
        <div class="fileGroup">
            <div class="sizeFile">
                <label>Tamaño</label>
                <br>
                <span>{{listaArchivos.archivoSize}}</span>
            </div>
            <div class="stateFile">
                <label>Estado</label>
                <br>
                <span>
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-danger btn-xs" (click)="removeDocument(listaArchivos.id)">
                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    <p *ngIf="!colorC" style="color:#FF0000">Máximo 3 archivos para subir.</p>
    <p  *ngIf="colorC"> Máximo 3 archivos para subir.</p>

    <p *ngIf="!colorP" style="color:#FF0000" >El peso límite de cada archivo es 8 Mb.</p>
    <p *ngIf="colorP" >El peso límite de cada archivo es 8 Mb.</p>

    <p *ngIf="!colorF" style="color:#FF0000" >El tipo de archivo permitido es PDF</p>
    <p *ngIf="colorF" >El tipo de archivo permitido es PDF</p>

</div>
