<div>
    <h2 id="page-heading">
        <span jhiTranslate="pdisciplinarioApp.instrucciones.home.title">Instrucciones</span>
<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grupo" [routerLink]="['/grupo/new']">-->

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-instrucciones" [routerLink]="['/instrucciones/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pdisciplinarioApp.instrucciones.home.createLabel">
            Create new Instrucciones
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="instrucciones">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="pdisciplinarioApp.instrucciones.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="perfil"><span>Perfil Asignado</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instruccion of instrucciones ;trackBy: trackId">
                <td><a [routerLink]="['/instrucciones', instruccion.id, 'view' ]">{{instruccion.id}}</a></td>
                <td>{{instruccion.nombre}}</td>
                <!--<td>-->
                    <!--<div *ngFor="let perfil of grupo.perfiles">-->
                        <!--<span class="badge badge-info">{{perfil.nombre}}</span>-->
                    <!--</div>-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/instrucciones', instruccion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/instrucciones', instruccion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'instrucciones/'+ instruccion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="instrucciones && instrucciones.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
