<button type="button" class="btn btn-outline-info btn-sm" (click)="open(content)">
    <fa-icon [icon]="'eye'"></fa-icon>
    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
</button>

<ng-template #content let-d="dismiss" let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Respuesta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="d('Dismiss click')">
            &times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive" *ngIf="respuesta.adjuntos || respuesta.documentos">
            <table class="table table-striped">
                <thead>
                <th>Nombre</th>
                <th>Tamaño</th>
                <th>N° Resolución</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                <tr *ngFor="let adjunto of respuesta.adjuntos">
                    <td>
                        {{adjunto.archivoNombre}}
                    </td>
                    <td>
                        {{adjunto.archivoSize}}
                    </td>
                    <td>
                        ------
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <button type="button" class="btn btn-outline-info btn-sm" name="adjunto"
                                    (click)="viewPdfOnOtherTabChrome(adjunto.hash, $event.target.offsetParent.name)">
                                <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="button" class="btn btn-outline-info btn-sm" name="adjunto"
                                    (click)="download(adjunto.hash, $event.target.offsetParent.name)">
                                <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.download">
                                    </span>
                            </button>
                        </div>
                    </td>
                </tr>
                <!-- Documentos -->
                <tr *ngFor="let documento of respuesta.documentos">
                    <td>
                        {{documento.archivoNombre}}
                    </td>
                    <td>
                        {{documento.archivoSize}}
                    </td>
                    <td *ngIf="documento.numeroResolucion">
                        {{documento.numeroResolucion}}
                    </td>
                    <td *ngIf="!documento.numeroResolucion">
                        -----
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <button type="button" class="btn btn-outline-info btn-sm" name="documento"
                                    (click)="viewPdfOnOtherTabChrome(documento.hash, $event.target.offsetParent.name)">
                                <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="button" class="btn btn-outline-info btn-sm" name="documento"
                                    (click)="download(documento.hash, $event.target.offsetParent.name)">
                                <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.download">
                                    </span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" *ngIf="!respuesta.adjuntos && !respuesta.documentos">
            <div class="col-12">
                <div class="form-group">
                    <div class="alert alert-warning" role="alert">
                        <b><p style="text-align: center"><span>Sin archivos adjuntos</span></p></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;
            <span jhiTranslate="entity.action.cancel" (click)="c('Close')">
                Cancel
            </span>
        </button>
    </div>
</ng-template>
