<!--<div class="row justify-content-center">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-12"></div>-->
<!--<div class="col-12">-->
<!--<div class="jumbotron">-->
<!--<div class="container">-->
<!--<ul class="btn ml-auto">-->
<!--<li ngbDropdown type="button" class="fas fa-file ml-auto"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="solicitud-menu">-->
<!--<span>-->
<!--<fa-icon icon="file"></fa-icon>-->
<!--<span>-->
<!--Crear solicitudes-->
<!--</span>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="/investigacion-sumaria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
<!--<span>Investigacion Sumaria</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="/sumario-administrativo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
<!--<span>Sumario Administrativo</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</ul>-->
<!--<ul class="btn ml-auto">-->
<!--<li ngbDropdown type="button" class="fas fa-file mr-2"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="doc-menu">-->
<!--<span>-->
<!--<fa-icon icon="file"></fa-icon>-->
<!--<span>-->
<!--Más opciones-->
<!--</span>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="investigacion-sumaria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<fa-icon icon="plus" fixedWidth="true"></fa-icon>-->
<!--<span>Exportar todo a excel</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<fa-icon icon="plus" fixedWidth="true"></fa-icon>-->
<!--<span>Exportar seleccionados a excel</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<fa-icon icon="plus" fixedWidth="true"></fa-icon>-->
<!--<span>Asignar solicitudes seleccionadas</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

