<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon [icon]="'bars'"></fa-icon>
    </a>
    <a class="navbar-brand logo float-left" routerLink="dashboard" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title">proyecto ifyum</span>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_DASHBOARD']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="dashboard"  href="javascript:void(0);" id="Dashboard-menu">
                    <span>
                        <fa-icon [icon]="'home'"></fa-icon>
                        <span>Dashboard</span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_PROVIDENCIA']" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="providencia"  href="javascript:void(0);" id="Providencia-menu">
                    <span>
                        <fa-icon icon="file"></fa-icon>
                        <span>Providencia</span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_PROCEDIMIENTOS']" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="procedimiento-menu">
                    <span>
                        <fa-icon icon="file"></fa-icon>
                        <span>Procedimientos</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="['ROLE_USER','ROLE_ADMIN', 'VISUALIZAR_SUMARIO']">
                        <a class="dropdown-item" routerLink="sumario-administrativo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="info" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.sumarioAdministrativo">Sumario Administrativo</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_USER','ROLE_ADMIN', 'VISUALIZAR_INVESTIGACION']">
                        <a class="dropdown-item" routerLink="investigacion-sumaria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="info" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.investigacionSumaria">Investigacion Sumaria</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_NOTIFICACION']"  ngbDropdown class="nav-item pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    id="Notificacion-menu"
                    placement="bottom"
                    [ngbPopover]="popContent"
                    [popoverTitle]="popTitle">
                    <fa-icon icon="bell"></fa-icon>
                    <span class="hidden-sm">Notificaciones</span>
                    <span class="badge-pill">
                        <span class="badge badge-danger">{{noLeidas}}</span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN' , 'VISUALIZAR_MENU_USUARIO']" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administracion</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_USUARIO']">
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                            <span>Gestion de usuarios</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_PERFIL']">
                        <a class="dropdown-item" routerLink="perfil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.perfil">Perfil</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_GRUPO']">
                        <a class="dropdown-item" routerLink="grupo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.grupo">Grupo</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_PLAZO']">
                        <a class="dropdown-item" routerLink="plazo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.plazo">Plazo</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_PLANTILLA']">
                        <a class="dropdown-item" routerLink="plantilla" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.plantilla">Plantilla</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_ENTIDAD_PRIVILEGE']">
                        <a class="dropdown-item" routerLink="entidad" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.entidad">Entidad</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_INSTRUCCIONES']">
                        <a class="dropdown-item" routerLink="instrucciones" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.instrucciones">Instrucciones</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'VISUALIZAR_MENU_USUARIO']" ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon [icon]="'user'"></fa-icon>
                    <span>Usuario</span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Configuraciones</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Contraseña</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="iniciar-sesion" routerLinkActive="active" (click)="logout()" id="logout">
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Cerrar sesion</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<ng-template #popContent let-greeting="greeting">
    <div *ngFor="let notificacion of notificacionesNoLeidas">
        <span >{{ notificacion.contenido}}</span>
        <a (click)="marcarLeida(notificacion.id)" class="badge badge-secondary"><span style="font-size: 12px" class="badge badge-secondary">Marcar leido</span> </a><br><hr>
    </div>

</ng-template>
<ng-template #popTitle let-language="language"><strong> {{ notificacionesNoLeidas != '' ? 'NOTIFICACIONES'  : 'No hay notificaciones pendientes'}} </strong>   <a routerLink="notificacion"><i class="fa fa-share"></i> Ver Todas</a> </ng-template>
