<div class="row justify-content-center">
    <div class="col-8">
        <div class="">
            <div class="container">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <h2 id="jhi-sumarioAdministrativo-heading-editar" *ngIf="plantilla.id">
                        Editar Plantilla
                    </h2>
                    <h2 id="jhi-sumarioAdministrativo-heading-crear" *ngIf="!plantilla.id">
                        Crear Plantilla
                    </h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!plantilla.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="plantilla.id" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="pdisciplinarioApp.plantilla.nombre"
                                   for="field_nombre">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="field_nombre"
                                   [(ngModel)]="plantilla.nombre"/>
                        </div>
                        <div class="form-group">
                            <ckeditor
                                [(ngModel)]="plantilla.contenido"
                                name="contenido"
                                [config]="{uiColor: '#ffffff'}"
                                [readonly]="false"
                                (change)="onChange($event)"
                                (editorChange)="onEditorChange($event)"
                                (ready)="onReady($event)"
                                (focus)="onFocus($event)"
                                (blur)="onBlur($event)"
                                (contentDom)="onContentDom($event)"
                                (fileUploadRequest)="onFileUploadRequest($event)"
                                (fileUploadResponse)="onFileUploadResponse($event)"
                                (paste)="onPaste($event)"
                                (drop)="onDrop($event)"
                                debounce="500">
                            </ckeditor>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="pdisciplinarioApp.plantilla.tipo"
                                   for="field_tipo">Tipo</label>
                            <select class="form-control" name="tipo" [(ngModel)]="plantilla.tipo" id="field_tipo">
                                <option
                                    value="MEMORANDUM">{{'pdisciplinarioApp.TipoPlantilla.MEMORANDUM' | translate}}</option>
                                <option
                                    value="RESOLUCION">{{'pdisciplinarioApp.TipoPlantilla.RESOLUCION' | translate}}</option>
                                <option
                                    value="CERTIFICACION">{{'pdisciplinarioApp.TipoPlantilla.CERTIFICACION' | translate}}</option>
                                <option
                                    value="EXPEDIENTE">{{'pdisciplinarioApp.TipoPlantilla.EXPEDIENTE' | translate}}</option>
                                <option
                                    value="NOTIFICACION">{{'pdisciplinarioApp.TipoPlantilla.NOTIFICACION' | translate}}</option>
                                <option
                                    value="DEFECTO">{{'pdisciplinarioApp.TipoPlantilla.DEFECTO' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                            jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                                class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
