<div class="row justify-content-center">
    <div class="container col-10">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="jhi-perfil-heading-editar" *ngIf="idPerfil">
                                Editar perfil
                            </h2>
                            <h2 id="jhi-perfil-heading-crear" *ngIf="!idPerfil">
                                Crear Perfil
                            </h2>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!perfil.id">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="id" name="id"
                                       [(ngModel)]="idPerfil" readonly />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="pdisciplinarioApp.perfil.nombre" for="field_nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="field_nombre" [(ngModel)]="nombre" required/>
                                <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Roles Que Tendra El Perfil</label>
                                <hr>
                                <div class="row col-12">
                                    <div class="col-3">
                                        <label><input type="checkbox" id="cb1" value="CREAR_PROVIDENCIA" name="cb1" (click)="selectPrivileges($event.target.value)" [(ngModel)]="crearProvidenciaPrivilege.state">CREAR PROVIDENCIA</label>
                                        <label><input type="checkbox" id="cb2" value="CREAR_PERFIL" name="cb2"  (click)="selectPrivileges($event.target.value)" [(ngModel)]="crearPerfilPrivilege.state"> CREAR PERFIL</label>
                                        <label><input type="checkbox" id="cb3" value="CREAR_FICHA_INGRESO" name="cb3"  (click)="selectPrivileges($event.target.value)" [(ngModel)]="crearFichaIngresoPrivilege.state"> CREAR FICHA INGRESO</label>
                                        <label><input type="checkbox" id="cb4" value="CREAR_GRUPO" name="cb4"  (click)="selectPrivileges($event.target.value)" [(ngModel)]="crearGrupoPrivilege.state"> CREAR GRUPO</label>
                                        <label><input type="checkbox" id="cb5" value="CREAR_USUARIO" name="cb5"  (click)="selectPrivileges($event.target.value)" [(ngModel)]="crearUsuarioPrivilege.state"> CREAR USUARIO</label>
                                        <label><input type="checkbox" id="cb6" value="CREAR_PLANTILLA" name="cb6" (click)="selectPrivileges($event.target.value)" [(ngModel)]="crearPlantillaPrivilege.state"> CREAR PLANTILLA</label>
                                        <label><input type="checkbox" id="cb7" value="EDITAR_INVESTIGACION" name="cb7" (click)="selectPrivileges($event.target.value)" [(ngModel)]="editarInvestigacionPrivilege.state"> EDITAR INVESTIGACION</label>
                                        <label><input type="checkbox" id="cb8" value="EDITAR_PERFIL" name="cb8" (click)="selectPrivileges($event.target.value)" [(ngModel)]="editarPerfilPrivilege.state"> EDITAR PERFIL</label>
                                        <label><input type="checkbox" id="cb9" value="EDITAR_USUARIO" name="cb9" (click)="selectPrivileges($event.target.value)" [(ngModel)]="editarUsuarioPrivilege.state"> EDITAR USUARIO</label>
                                        <label><input type="checkbox" id="cb10" value="EDITAR_GRUPO" name="cb10" (click)="selectPrivileges($event.target.value)" [(ngModel)]="editarGrupoPrivilege.state"> EDITAR GRUPO</label>
                                    </div>

                                    <div class="col-3">
                                        <label><input type="checkbox" id="cb11" value="EDITAR_PLANTILLA" name="cb11" (click)="selectPrivileges($event.target.value)" [(ngModel)]="editarPlantillaPrivilege.state"> EDITAR PLANTILLA</label>
                                        <label><input type="checkbox" id="cb12" value="EDITAR_PROVIDENCIA" name="cb12" (click)="selectPrivileges($event.target.value)" [(ngModel)]="editarProvidenciaPrivilege.state"> EDITAR PROVIDENCIA</label>
                                        <label><input type="checkbox" id="cb13" value="ACTUALIZAR_ADJUNTO_PRIVILEGE" name="cb13" (click)="selectPrivileges($event.target.value)" [(ngModel)]="actualizarAdjuntoPrivilege.state"> ACTUALIZAR ADJUNTO</label>
                                        <label><input type="checkbox" id="cb14" value="ACTUALIZAR_DOCUMENTO_PRIVILEGE" name="cb14" (click)="selectPrivileges($event.target.value)" [(ngModel)]="actualizarDocumentoPrivilege.state"> ACTUALIZAR DOCUMENTO</label>
                                        <label><input type="checkbox" id="cb15" value="ELIMINAR_DOCUMENTO" name="cb15" (click)="selectPrivileges($event.target.value)" [(ngModel)]="eliminarDocumentoPrivilege.state"> ELIMINAR DOCUMENTO</label>
                                        <label><input type="checkbox" id="cb16" value="ELIMINAR_GRUPO" name="cb16" (click)="selectPrivileges($event.target.value)" [(ngModel)]="eliminarGrupoPrivilege.state"> ELIMINAR GRUPO</label>
                                        <label><input type="checkbox" id="cb17" value="ELIMINAR_PERFIL" name="cb17" (click)="selectPrivileges($event.target.value)" [(ngModel)]="eliminarPerfilPrivilege.state"> ELIMINAR PERFIL</label>
                                        <label><input type="checkbox" id="cb18" value="ELIMINAR_USUARIO" name="cb18" (click)="selectPrivileges($event.target.value)" [(ngModel)]="eliminarUsuarioPrivilege.state"> ELIMINAR USUARIO</label>
                                        <label><input type="checkbox" id="cb19" value="ELIMINAR_PLANTILLA" name="cb19" (click)="selectPrivileges($event.target.value)" [(ngModel)]="eliminarPlantillaPrivilege.state"> ELIMINAR PLANTILLA</label>
                                        <label><input type="checkbox" id="cb20" value="ELIMINAR_ADJUNTO" name="cb20" (click)="selectPrivileges($event.target.value)" [(ngModel)]="eliminarAdjuntoPrivilege.state"> ELIMINAR ADJUNTO</label>
                                    </div>
                                    <div class="col-3">
                                        <label><input type="checkbox" id="cb21" value="VISUALIZAR_FICHA_INGRESO" name="cb21" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarFichaIngresoPrivilege.state"> VISUALIZAR FICHA</label>
                                        <label><input type="checkbox" id="cb22" value="VISUALIZAR_INVESTIGACION" name="cb22" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarInvestigacionPrivilege.state"> VISUALIZAR INVESTIGACION</label>
                                        <label><input type="checkbox" id="cb23" value="VISUALIZAR_ADJUNTO" name="cb23" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarAdjuntoPrivilege.state"> VISUALIZAR ADJUNTO</label>
                                        <label><input type="checkbox" id="cb24" value="VISUALIZAR_DOCUMENTO" name="cb24" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarDocumentoPrivilege.state"> VISUALIZAR DOCUMENTO</label>
                                        <label><input type="checkbox" id="cb25" value="VISUALIZAR_PROVIDENCIA" name="cb25" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarProvidenciaPrivilege.state"> VISUALIZAR PROVIDENCIA</label>
                                        <label><input type="checkbox" id="cb26" value="VISUALIZAR_PERFIL" name="cb26" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarPerfilPrivilege.state"> VISUALIZAR PERFIL</label>
                                        <label><input type="checkbox" id="cb27" value="VISUALIZAR_USUARIO" name="cb27" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarUsuarioPrivilege.state"> VISUALIZAR USUARIO</label>
                                        <label><input type="checkbox" id="cb28" value="VISUALIZAR_GRUPO" name="cb28" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarGrupoPrivilege.state"> VISUALIZAR GRUPO</label>
                                        <label><input type="checkbox" id="cb29" value="VISUALIZAR_PLANTILLA" name="cb29" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarPlantillaPrivilege.state"> VISUALIZAR PLANTILLA</label>
                                        <label><input type="checkbox" id="cb30" value="VISUALIZAR_DASHBOARD" name="cb30" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarDashboardPrivilege.state"> VISUALIZAR DASHBOARD</label>
                                    </div>
                                    <div class="col-3">
                                        <label><input type="checkbox" id="cb31" value="VISUALIZAR_NOTIFICACION" name="cb31" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarNotificacionPrivilege.state"> VISUALIZAR NOTIFICACION</label>
                                        <label><input type="checkbox" id="cb32" value="VISUALIZAR_MENU_USUARIO" name="cb32" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarMenuUsuarioPrivilege.state"> VISUALIZAR MENU USUARIO</label>
                                        <label><input type="checkbox" id="cb33" value="VISUALIZAR_SUMARIO" name="cb33" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarSumarioPrivilege.state">VISUALIZAR SUMARIO</label>
                                        <label><input type="checkbox" id="cb34" value="VISUALIZAR_PROCEDIMIENTOS" name="cb34" (click)="selectPrivileges($event.target.value)" [(ngModel)]="visualizarProcedimientosPrivilege.state"> VISUALIZAR PROCEDIMIENTOS</label>
                                        <label><input type="checkbox" id="cb35" value="ADJUNTAR_ADJUNTO" name="cb35" (click)="selectPrivileges($event.target.value)" [(ngModel)]="adjuntarAdjuntoPrivilege.state"> ADJUNTAR ADJUNTO</label>
                                        <label><input type="checkbox" id="cb36" value="DESCARGAR_ADJUNTO" name="cb36" (click)="selectPrivileges($event.target.value)" [(ngModel)]="descargarAdjuntoPrivilege.state"> DESCARGAR ADJUNTO</label>
                                        <label><input type="checkbox" id="cb37" value="ASIGNAR_TIPO_A_PROVIDENCIA" name="cb37" (click)="selectPrivileges($event.target.value)" [(ngModel)]="asignarTtipoAProvidenciaPrivilege.state"> ASIGNA TIPO A PROVIDENCIA</label>
                                        <label><input type="checkbox" id="cb38" value="DERIVAR_PROVIDENCIA" name="cb38" (click)="selectPrivileges($event.target.value)" [(ngModel)]="derivarProvidenciaPrivilege.state"> DERIVAR PROVIDENCIA</label>
                                        <label><input type="checkbox" id="cb39" value="ADJUNTAR_DOCUMENTO" name="cb39" (click)="selectPrivileges($event.target.value)" [(ngModel)]="adjuntarDocumentoPrivilege.state"> ADJUNTAR DOCUMENTO</label>
                                        <label><input type="checkbox" id="cb40" value="DESCARGAR_DOCUMENTO" name="cb40" (click)="selectPrivileges($event.target.value)" [(ngModel)]="descargarDocumentoPrivilege.state"> DESCARGAR DOCUMENTO</label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
