<div class="row justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="jhi-sumarioAdministrativo-heading-editar" *ngIf="sumarioAdministrativo.id">
                                Editar Sumario Administrativo
                            </h2>
                            <h2 id="jhi-sumarioAdministrativo-heading-crear" *ngIf="!sumarioAdministrativo.id">
                                Crear Sumario Administrativo
                            </h2>
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group" [hidden]="!sumarioAdministrativo.id">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="sumarioAdministrativo.id" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.campoUno" for="field_campoUno">Campo Uno</label>
                                    <input type="text" class="form-control" name="campoUno" id="field_campoUno" [(ngModel)]="sumarioAdministrativo.campoUno" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.fechaDeSolicitud" for="field_fechaDeSolicitud">Fecha De Solicitud</label>
                                    <input type="text" class="form-control" name="fechaDeSolicitud" id="field_fechaDeSolicitud" [(ngModel)]="sumarioAdministrativo.fechaDeSolicitud" />
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.investigacionSumaria" for="field_investigacionSumaria">Investigacion Sumaria</label>
                                    <select class="form-control" id="field_investigacionSumaria" name="investigacionSumaria" [(ngModel)]="sumarioAdministrativo.investigacionSumariaId">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="investigacionSumariaOption.id" *ngFor="let investigacionSumariaOption of investigacionsumarias; trackBy: trackInvestigacionSumariaById">{{investigacionSumariaOption.id}}</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
