<div>
    <h2 id="page-heading">
        <span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.home.title">Sumario Administrativos</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sumario-administrativo" [routerLink]="['/sumario-administrativo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.home.createLabel">
            Create new Sumario Administrativo
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container2">
        <div class="pull-left">
            <label><h6>Filtrar por:</h6></label>
            <form>
                <div class="row">
                    <th>
                        <div class="form-group col">
                            <label>Estado</label>
                            <select class="form-control">
                                <option selected>estado...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div class="form-group col">
                            <label>Acciones</label>
                            <select class="form-control">
                                <option selected>plazo...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div class="form-group col">
                            <label>Tipo</label>
                            <select class="form-control">
                                <option selected>tipo adjunto..</option>
                                <option value="1">MEMORANDUM</option>
                                <option value="2">RESOLUCION</option>
                                <option value="2">CERTIFICACION</option>
                                <option value="2">EXPEDIENTE</option>
                                <option value="2">NOTIFICACION</option>
                            </select>
                        </div>
                    </th>

                    <div class="col">
                        <input type="submit" class="btn btn-sm btn-primary" value="Buscar" ng-click="vm.filtrar()">
                        <input type="reset" class="btn btn-sm btn-danger" value="Limpiar" name="reset"
                               ng-click="vm.limpiar()">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive" *ngIf="sumarioAdministrativos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id">
                    <span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <!--<th jhiSortBy="campoUno">-->
                <!--<span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.campoUno">Campo Uno</span> -->
                <!--<fa-icon [icon]="'sort'"></fa-icon>-->
                <!--</th>   -->

                <th jhiSortBy="fechaDeSolicitud">
                    <span
                        jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.fechaDeSolicitud">Fecha De Solicitud</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="plazo">
                    <span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.plazo">Plazo</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th jhiSortBy="estado">
                    <span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.estado">Estado</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th jhiSortBy="unidad">
                    <span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.unidad">Unidad</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <!--<th jhiSortBy="investigacionSumariaId">-->
                <!--<span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.investigacionSumaria">Investigacion Sumaria</span>-->
                <!--<fa-icon [icon]="'sort'"></fa-icon>-->
                <!--</th>-->

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sumarioAdministrativo of sumarioAdministrativos ;trackBy: trackId">
                <td><a
                    [routerLink]="['/sumario-administrativo', sumarioAdministrativo.id, 'view' ]">{{sumarioAdministrativo.id}}</a>
                </td>
                <td>{{sumarioAdministrativo.campoUno}}</td>
                <td>
                    <div *ngIf="sumarioAdministrativo.investigacionSumariaId">
                        <a [routerLink]="['../investigacion-sumaria', sumarioAdministrativo.investigacionSumariaId , 'view' ]">{{sumarioAdministrativo.investigacionSumariaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sumario-administrativo', sumarioAdministrativo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sumario-administrativo', sumarioAdministrativo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sumario-administrativo/'+ sumarioAdministrativo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="sumarioAdministrativos && sumarioAdministrativos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
