<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sumarioAdministrativo">
            <h2><span
                jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.detail.title">Sumario Administrativo</span> {{sumarioAdministrativo.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <!--<dt><span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.campoUno">Campo Uno</span></dt>-->
                <!--<dd>-->
                <!--<span>{{sumarioAdministrativo.campoUno}}</span>-->
                <!--</dd>-->
                <dt><span
                    jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.fechaDeSolicitud">Fecha De Solicitud</span>
                </dt>
                <dd>
                    <span>{{sumarioAdministrativo.fechaDeSolicitud}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.plazo">Plazo</span></dt>
                <dd>
                    <span>{{sumarioAdministrativo.plazo}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.estado">Estado</span></dt>
                <dd>
                    <span>{{sumarioAdministrativo.estado}}</span>
                </dd>
                <dt><span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.unidad">Unidad</span></dt>
                <dd>
                    <span>{{sumarioAdministrativo.unidad}}</span>
                </dd>
                <!--<dt><span jhiTranslate="pdisciplinarioApp.sumarioAdministrativo.investigacionSumaria">Investigacion Sumaria</span></dt>-->
                <!--<dd>-->
                <!--<div *ngIf="sumarioAdministrativo.investigacionSumariaId">-->
                <!--<a [routerLink]="['/investigacion-sumaria', sumarioAdministrativo.investigacionSumariaId, 'view']">{{sumarioAdministrativo.investigacionSumariaId}}</a>-->
                <!--</div>-->
                <!--</dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sumario-administrativo', sumarioAdministrativo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
