<div class="row justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <div class="jumbotron">
                    <div class="container">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                            <h2 id="jhi-grupo-heading-editar" *ngIf="grupo.id">
                                Editar Grupo
                            </h2>
                            <h2 id="jhi-grupo-heading-crear" *ngIf="!grupo.id">
                                Crear Grupo
                            </h2>
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group" [hidden]="!grupo.id">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id"
                                           [(ngModel)]="grupo.id" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="pdisciplinarioApp.grupo.nombre"
                                           for="field_nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                                           [(ngModel)]="grupo.nombre" required/>
                                    <div
                                        [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!editForm.controls.nombre?.errors?.required"
                                               jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                                <!--<div class="form-group">-->
                                <!--<label>Perfil para asignar</label>-->
                                <!--<select class="form-control" multiple name="perfil" [(ngModel)]="grupo.perfiles">-->
                                <!--<option *ngFor="let perfil of perfils" [value]="perfil">{{perfil.nombre}}</option>-->
                                <!--</select>-->
                                <!--</div>-->
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"
                                        (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                                        class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
